@model ProjectLoginViewModel

@{
    ViewBag.Title = "InviteLogOn";
    //Layout = "~/Views/Shared/_LayoutNew.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/Content/oldstyles/loading.css" rel="stylesheet" type="text/css" />*@
@*<link href="~/Content/oldstyles/header.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/oldstyles/base.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/oldstyles/layout.css" rel="stylesheet" type="text/css" />*@
@*<link href="~/Content/oldstyles/second.css" rel="stylesheet" type="text/css" />
<link href="~/Content/oldstyles/footer.css" rel="stylesheet" type="text/css" />*@
@*<link href="~/Content/oldstyles/login.css" rel="stylesheet" type="text/css" />*@
@*<script src="~/Scripts/oldscripts/Mfile.js" type="text/javascript"></script>
<script src="~/Scripts/oldscripts/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="~/Scripts/oldscripts/commonMethod.js" type="text/javascript"></script>
<script src="~/Scripts/oldscripts/kefu.js"></script>*@


<style>
    
    .right {
    float: right;
}

    .formInput {
    outline: none;
    height: 22px;
    line-height: 22px;
    padding: 2px 5px;
    width: 250px;
}

    /*登录 注册*/
.loginTitle {
    color: #1a83cb;
    font-size: 20px;
}

    .loginTitle span.haveLogin {
        color: #ff2828;
        font-weight: normal;
        font-size: 0.6em;
    }

        .loginTitle span.haveLogin a {
            background: #1069b9;
            color: #fff;
            display: inline-block;
            font-size: 1.25em;
            height: 30px;
            line-height: 30px;
            margin-left: 10px;
            text-align: center;
            width: 70px;
        }

.loginStep {
    background: #eee;
    color: #333;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    margin: 20px 0;
}

.subBtn {
    background-image: url('/Content/Images/btnBg.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    color: #fff;
    font-weight: bold;
    font-family:"微软雅黑";
    font-size: 16px;
    height: 35px;
    width: 100px;
}

    .subBtn:hover {
        text-decoration: underline;
    }

    .subBtn:active {
        padding: 1px 0 0 1px;
    }

    .formUl li {
    line-height: 22px;
    margin-bottom: 20px;
}

.formLabel, .formLabel2 {
    display: inline-block;
    padding-right: 10px;
    width: 90px;
}

.letterTwo {
    letter-spacing: 21px;
}

.formInput {
    outline: none;
    height: 22px;
    line-height: 22px;
    padding: 2px 5px;
    width: 250px;
}

.formTextarea {
    height: 100px;
    line-height: 22px;
    padding: 2px 5px;
    margin-left: 3px;
    width: 250px;
    resize:none;
}

.formKnow, .formLoginIn {
    margin-left: 104px;
    margin-bottom: 20px;
}

    .inviteTop {
    border-bottom: 1px solid #1a83cb;
    margin-bottom: 20px;
    min-height: 45px;
    padding: 10px 10px 10px 50px;
    position: relative;
}

     .userImg {
         position: absolute;
         left: 5px;
         top: 10px;
     }


    .userImg img {
        border-radius: 4px;
        height: 45px;
        width: 45px;
    }

    .tipsWord {
        font-size: 14px;
        font-weight: bold;
        padding-left: 20px;
        word-break: break-all;
    }

    .inviteContent {
        word-break: break-all;
    }

    .inviteLeft {
        width: 40%;
    }

    .inviteLeftContent {
        padding: 10px 20px 10px 10px;
    }

    .inviteRight {
        width: 60%;
    }

    .inviteRightContent {
        border-left: 1px solid #1a83cb;
        padding: 10px 10px 10px 20px;
    }

    .InvitateTextarea {
        border: 1px solid #1a83cb;
        border-radius: 4px;
        resize: none;
        height: 80px;
        margin: 10px 0;
        width: 100%;
    }
</style>

<script type="text/javascript">
    $(function () {
        //if ($("#logoutForm").length > 0) {
        //    location.reload();
        //}
        ////登陆绑定回车键
        //$(document).keydown(function (event) {
        //    if (event.keyCode == 13) {
        //        $("#login").click();
        //    }
        //});

        $.post("/Account/Invitelogin", { inviterId: $("#UserId").val(), projectId: $("#ProjectId").val() }, function (data) {
            //修改JSON字符串中换行问题！
            data = data.replace(/\n\r/g, "<br/>");
            data = data.replace(/\r\n/g, "<br/>");
            data = data.replace(/\n/g, "<br/>");
            data = data.replace(/\r/g, "<br/>");
            data = data.replace(/\t/g, " ");
            //data = data.replace(/" "/g, " ");
            data = data.replace(/"/g, "\\" + "\"");
            var res = strToJson(data);
            try {
                if (res.state == "success") {
                    var str = "<li>项目名称：" + res.projectName + "</li><li>邀请人：" + res.inviter + "</li><li>项目简介：" + res.projectDes + "</li>";
                    $("#inviteAbout ul").html(str);
                    $("#inviteAbout2 ul").html(str);
                    $("#firstDIV").hide();
                    $("#secondDIV").show();
                } else {
                    $("#validationSummary").show();
                    alert(res.error);
                }
            } catch (e) {
                alert(e.message);
            }
        });



        //$("#login").click(function () {
        //    $("#validationPassword").hide();
        //    $("#validationId").hide();
        //    var usernameOrEmail = $("#UsernameOrEmail").val();
        //    var password = $("#Password").val();
        //    if (usernameOrEmail == "") {
        //        $("#validationId").show();
        //        return false;
        //    }
        //    if (password == "") {
        //        $("#validationPassword").show();
        //        return false;
        //    }

            
        //});

        $("#btnVerif").click(function () {
            var message = $("#txtMessage").val();
            if (message == "") {
                alert("请输入验证内容！");
                return false;
            }
            var userId = $("#UserId").val();
            var projectId = $("#ProjectId").val();
            var partyId = $("#PartyId").val();
            var email = $("#email").val();
            var inviteEmail = $("#inviteEmail").val();
            //var projectName = ViewBag.projectName;
            $.post("/BIM/SendVerify", { message: message, userId: userId, projectId: projectId, email: email, inviteEmail: inviteEmail, partyId: partyId }, function (data) {
                if (data == "success") {
                    $("#secondDIV").hide();
                    $("#thirdDIV").show();
                } else {
                    alert(data);
                    return false;
                }
            });
        });
    });
</script>
<!--当前位置-->
<div id="currentWrap">
    @Html.ActionLink("首页", "Index", "BIM", null, new { @title = "首页", @name = "anchor" })
    <span>>></span>
    <a title="验证邀请" name="">验证邀请</a>
</div>
<div id="content" class="clearfix">
    @Html.HiddenFor(m => m.ProjectId, new { @Id = "ProjectId" })
    @Html.HiddenFor(m => m.UserId, new { @Id = "UserId" })
    @Html.HiddenFor(m => m.PartyId, new { @Id = "PartyId" })
    <input type="hidden" value=@ViewBag.projectName id="projectName" />
    <input type="hidden" value=@ViewBag.email id="email" />
    <input type="hidden" value=@ViewBag.inviteEmail id="inviteEmail" />
    <aside class="left"></aside>
    <section class="right">
        <!--登陆-->
        @*<div class="inviteContent" id="firstDIV">
            <div class="inviteLogin">
                <div class="inviteTop">

                    <div class="userImg">
                        <img src="~/Content/Images/11.jpg" />
                    </div>
                    <div class="tipsWord">
                        欢迎加入
                    </div>
                </div>
                <div class="loginLeft">
                    <h2 class="loginTitle userTitle">
                        登录 Login
                        <span class="haveLogin right">
                            @{ var registerUri = DBWorld.AecCloud.Web.AuthUtility.GetSSORegisterUri(); }
                            <a href="@registerUri">注册</a>
                        </span>
                    </h2>
                    <div class="loginStep"></div>
                    <ul class="formUl">
                        <li>
                            @Html.LabelFor(m => m.UsernameOrEmail, new { @class = "formLabel" })
                            @Html.TextBoxFor(m => m.UsernameOrEmail, new { @class = "formInput", @Id = "UsernameOrEmail", @Value = @ViewBag.loginEmail })
                            <span class="text-danger" id="validationId" style="display:none">账号不能为空</span>
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Password, new { @class = "formLabel" })
                            @Html.PasswordFor(m => m.Password, new { @class = "formInput", @Id = "Password" })
                            <span class="text-danger" id="validationPassword" style="display:none">密码不能为空</span>
                        </li>
                    </ul>

                    <p>
                        <input type="submit" value="登录" class="subBtn formLoginIn" id="login" />
                    </p>
                </div>
            </div>

        </div>*@

        <!--身份验证-->
        <div class="inviteIdentity" style="display:none;" id="secondDIV">

            <div class="inviteTop">

                <div class="userImg">
                    <img src="~/Content/Images/11.jpg" />
                </div>
                <div class="tipsWord">
                    欢迎加入
                </div>

            </div>

            <div class="inviteContent clearfix">
                <div class="inviteLeft left">

                    <div class="inviteLeftContent" id="inviteAbout2">

                        <ul>
                            @*<li>
                                    项目名称：@ViewBag.projectName
                                </li>
                                <li>
                                    邀请人：XXXXX
                                </li>
                                <li>
                                    项目简介：XXXXXX
                                </li>*@
                        </ul>

                    </div>

                </div>
                <div class="inviteRight left">
                    <div class="inviteRightContent">
                        <p>
                            该项目需要验证你的身份，请输入请求信息
                        </p>
                        <textarea cols="" rows="" class="InvitateTextarea" id="txtMessage"></textarea>
                        <p>
                            <input type="submit" value="发送" class="subBtn" id="btnVerif" />
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <!--等待验证-->
        <div class="inviteWait" style="display:none;" id="thirdDIV">

            <div class="inviteTop">

                <div class="userImg">
                    <img src="~/Content/Images/11.jpg" />
                </div>
                <div class="tipsWord">
                    欢迎加入
                </div>

            </div>

            <div class="inviteContent clearfix">
                <div class="inviteLeft left">

                    <div class="inviteLeftContent" id="inviteAbout">

                        <ul>
                            @*<li>
                                    项目名称：@ViewBag.projectName
                                </li>
                                <li>
                                    邀请人：XXXXX
                                </li>
                                <li>
                                    项目简介：XXXXXX
                                </li>*@
                        </ul>

                    </div>

                </div>
                <div class="inviteRight left">
                    <div class="inviteRightContent">
                        <p class="waitWord">
                            验证信息已发送，请耐心等待验证通过！！！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
