

<nav class="clearfix">
    <!-- 导航位置 -->
    <div class="navContent row">
        
        <ul class="navTable">
            <li class="col-md-3 col-md-offset-1">
                <a href="@Url.Action("Index", "BIM")" title="首页">首页</a>
            </li>
            <li class="col-md-3">
                <a href="@Url.Action("Index", "AECCloudClient")" title="DBWorld客户端">DBWorld客户端</a>
            </li>
            <li class="col-md-3">
                <a href="@Url.Action("Index", "BIM")" title="协同云">协同云</a>
            </li>
            @*<li>
                <a href="@Url.Action("Index", "KnowledgeCloud")" title="知识云">
                    知识云
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "SoftwareCloud")" title="软件云">
                    软件云
                </a>

            </li>*@

            <li class="col-md-3">
                <a href="@Url.Action("AboutUs", "Help")" title="关于我们">关于我们</a>

            </li>
        </ul>
        @*<div class="navTable row">
            
        </div>*@
    </div>
</nav>