@model PagedList.IPagedList<AecCloud.Service.Vaults.CompanyMeetingStatics>
@using PagedList.Mvc;
@{
    ViewBag.Title = "监理例会纪要审核记录统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var homeUrl = AecCloud.BaseCore.Utility.GetHost(Request.Url);
   
}

<style>
   #divTitle {
        margin-top: 5px;
        margin-right: 20px;
        background-color: #FFFFFF;
        width: 1000px;
        height: 30px;
    }

    #corbar {
        float: left;
        margin-left: 8px;
        margin-top: 3px;
        width: 6px;
        height: 24px;
        background-color: #017EC1;
    }

    #title {
        margin-top: 2px;
        margin-left: 8px;
        float: left;
        font-weight: 500;
        vertical-align: middle;
        font-size: 16px;
    }
    td{
        display:table-cell;
        text-align:center;
        vertical-align:middle;        
    }
    #year{
        margin-left: 10px;
        background: url("/Content/Images/mdd/年份.png") no-repeat scroll right center #008ad2;
        width: 140px;
        height: 26px;
        background-color: #008AD4;
        color: #FFFFFF;
    }
      #year::-ms-expand { display: none; }
    #month{
        margin-left: 5px;
        background: url("/Content/Images/mdd/月份.png") no-repeat scroll right center #008ad2;
        width: 140px;
        height: 26px;
        background-color: #008AD4;
        color: #FFFFFF;
    }
      #month::-ms-expand { display: none; }
    input{
        margin-left: 5px;
        width: 70px;
        height: 26px;
        background-color: #008AD2;
        color: #FFFFFF;
        border-radius: 3px;
        border: none;
    }
    #mainContent {
        margin-top: 5px;
        width: 1000px;
        height: 920px;
        background-color: #FFFFFF;
    }

    #placeHolder1 {
        margin-left: 15px;
        width: 969px;
        height: 5px;
    }
    th {
        background-color: #008AD2;
        text-align: center;
        border-color: #FFFFFF;
        color: #FFFFFF;
        height: 30px;
        line-height: 18px;
    }
   td {
        border-color: #F0F0F0;
        height: 28px;
        text-align: center;
        word-break: break-all;
        line-height: 18px;
    }
    .body-container{
        min-height:1000px;
    }
   select{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none; 
  padding-right: 24px;
   }
 

</style>

@functions{
    //获取年份列表
    public static List<SelectListItem> GetYears()
    {
        var list = new List<SelectListItem>();
        var yearNow = int.Parse(DateTime.Now.ToString("yyyy"));
        for (int i = -9; i <= 10; i++)
        {
            var selected = false;
            //if (i == 0) selected = true;
            var yearItem = (yearNow + i).ToString();
            if (i == 0) selected = true;

            list.Add(new SelectListItem() { Text = yearItem, Value = yearItem, Selected = selected });
        }
        //   list.Add(new SelectListItem() { Text = "年份", Value = "", Selected = true });     
        return list;
    }
    //获取月份列表
    public static List<SelectListItem> GetMonths()
    {
        var list = new List<SelectListItem>();
        var monthNow = int.Parse(DateTime.Now.Month.ToString());
        for (int i = 1; i <= 12; i++)
        {
            var selected = false;
            if (i == monthNow) selected = true;
            list.Add(new SelectListItem() { Text = i.ToString() + "月", Value = i.ToString(), Selected = selected });
        }
        // list.Add(new SelectListItem() { Text =  "月份", Value = "", Selected = true });
        return list;
    }

    public int GetRowSpanNum(string numStr)
    {
        var num = int.Parse(numStr);
        return num > 0 ? num : 1;
    }
}
<!-- 主要内容部分 -->
<div id="content">
    <!-- 左边导航 -->
    @Html.Partial("_LeftNavBIM")
    <!-- 右边内容 -->
    <section class="right">
        @*<div class="section-header" style="margin-left: 20px;">项目报表 <img src="~/Content/Images/mdd/副级导航.png" alt="" /> 监理例会纪要审核记录统计</div>*@
        <div id="divTitle">
            <div id="corbar"></div>
            <div id="title">项目报表 <img src="/Content/Images/mdd/副级导航.png" /> 监理例会纪要审核记录统计</div>
        </div>
      @*  <div><h4 class="noticetable">项目报表</h4></div>*@
        <div class="noticetable" style="margin-left: 1em">
          @*  <h5><span style="background-color: #1a83cb; color: white; padding: 5px;">监理例会纪要审核记录统计</span></h5>*@
            @using (Html.BeginForm("SupervisorMeetingStatistics", "IntegratedManagement"))
            {
                <p>
                    年份：@Html.DropDownList("year", GetYears())
                    月份：@Html.DropDownList("month", GetMonths())
                    <input type="submit" value="查看" />
                </p>
            }
        </div>
        <div id="mainContent">
            <div id="placeHolder1"></div>
            <div style="overflow-y:auto;width:986px;height:710px">
                <table style="margin-left:12px;">
                    <thead style="background-color: #1a83cb;color: white;">
                        <tr>
                            <th width="200">所属单位</th>
                            <th width="200">项目名称</th>
                            <th width="60">例会频次</th>
                            <th width="340">监理例会未召开原因</th>
                            <th width="60">项目个数</th>
                            <th width="100">例会频次（合计）</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td rowspan="@GetRowSpanNum(Html.DisplayFor(modeItem => item.ProjMeetingList.Count).ToString())">
                                @Html.DisplayFor(modeItem => item.CompanyName)
                            </td>
                            @if (item.ProjMeetingList.Count == 0)
                            {
                                <td>@("-") </td>
                                <td>@("-") </td>
                                <td>@("-") </td>
                                <td>@("0") </td>
                                <td>@("0") </td>
                            }
                            @foreach (var projMeet in item.ProjMeetingList)
                            {
                                if (item.ProjMeetingList[0].Equals(projMeet))
                                {
                                    <td>@Html.DisplayFor(modeItem => projMeet.ProjName)</td>
                                    <td>@Html.DisplayFor(modeItem => projMeet.MeetingNums)</td>
                                    <td>@Html.DisplayFor(modeItem => projMeet.UndidReason)</td>
                                    <td rowspan="@GetRowSpanNum(Html.DisplayFor(modeItem => item.ProjMeetingList.Count).ToString())">
                                        @Html.DisplayFor(modeItem => item.ProjMeetingList.Count)
                                    </td>
                                    <td rowspan="@GetRowSpanNum(Html.DisplayFor(modeItem => item.ProjMeetingList.Count).ToString())">
                                        @Html.DisplayFor(modeItem => item.MeetingNums)
                                    </td>
                                }
                            }
                        </tr>
                        foreach (var projMeet in item.ProjMeetingList)
                        {
                            
                            if (!item.ProjMeetingList[0].Equals(projMeet))
                            {
                                <tr>
                                <td>@Html.DisplayFor(modeItem => projMeet.ProjName)</td>
                                <td>@Html.DisplayFor(modeItem => projMeet.MeetingNums)</td>
                                <td>@Html.DisplayFor(modeItem => projMeet.UndidReason)</td>
                                </tr>
                            }
                                 
                        }
                    }
                </table>
            </div>
            </div>
</section>
</div>




